.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.panel-login {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

img {
    vertical-align: middle;
}

.hiddenPhone {
    visibility: hidden;
}

#indexPhoneNumber {
    text-align: center;
    width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.digit {
    width: 30px;
}

.form2range {
    width: 700px;
}

.progress {
    display: none;
}