<form accept-charset="UTF-8" role="form" class="form2" action="/submit" method="post">
    <div class="row center-align">
        <div class="col s12 m4 offset-m4">
            <input id="indexPhoneNumber" type="text" disabled>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12 m2">
            <span class="font-weight-bold indigo-text mr-2 mt-1">(00)00000-0000</span>
        </div>
        <div class="col s12 m8">
            <div class="range-field">
                <input class="custom-range form2range" type="range" value="0"  min="0" max="99999999999" class>
                <span class="thumb">
                    <span class="value"></span>
                </span>
            </div>
        </div>
        <div class="col s12 m2">
            <span class="font-weight-bold indigo-text ml-2 mt-1">(99)99999-9999</span>
        </div>
    </div>
    <input type="submit" id="form2submit" class="btn waves-effect waves-light center z-depth-4" value="Cadastrar"/>
    <input id="phoneNumber" type="text" name="phoneNumber" class="hiddenPhone" value="<%=dadosForm.phoneNumber%>"/>
</form>