<form id="form3" accept-charset="UTF-8" role="form" class="form4" action="/submit" method="post">
    <div class="row center-align" value="0">
        <div class="col s12 m3">
            <div class="col s12 m1">
                <h3>(</h3>
            </div>
            <div class="input-field col s12 m4">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m4">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="col s12 m1">
                <h3>)</h3>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
        </div>
        <div class="col s12 m1">
            <h3>-</h3>
        </div>
        <div class="col s12 m4">
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
            <div class="input-field col s12 m2">
                <a class="btn-floating btn-large waves-effect waves-teal white stopDigit"><span class="black-text text-darken-2">0</span></a>
            </div>
        </div>
    </div>
    <input type="submit" id="form4submit" class="btn waves-effect waves-light center z-depth-4" value="Cadastrar"/>
    <input id="phoneNumber" type="text" name="phoneNumber" class="hiddenPhone" value="<%=dadosForm.phoneNumber%>"/>
</form>