<div>
    <form accept-charset="UTF-8" role="form" class="form-signin" action="/submit" method="post">
        <fieldset>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>
            <br/>
            <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" value="Cadastrar">
        </fieldset>
    </form>
</div>