<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastre seu telefone</title>
        <!-- JQuery -->
        <script src="js/jquery-2.2.1.js"></script>
        <!-- bootstrap - link cdn -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" scrossorigin="anonymous">
        <!-- incluindo css -->
        <link href="css/style.css" rel="stylesheet"/>
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" />
    </head>

    <body>
        <div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel-login panel-default">
                        <div class="panel-heading">                                
                            <div class="row-fluid user-row">
                                <img src="../media/Aqua_Phone-logo.jpg" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin" action="/phoneForm" method="post">
                                <fieldset>
                                    <br/>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" value="Cadastre seu telefone">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"/>
    </body>
</html>